---
// src/pages/index.astro
import data from "@data/data.json";
import Layout from "@layouts/Layout.astro";

// Función para generar slugs
function slugify(title) {
    return title.toLowerCase().replace(/\s+/g, "-");
}
---

<Layout title="Brodevs Links">
    <div class="flex flex-wrap items-center justify-center p-5">
        {
            data.map((section) => (
                <a
                    href={`/sections/${slugify(section.title)}`}
                    class="m-4 w-48 h-32 rounded-lg shadow-lg transition-transform transform 
                           hover:scale-105"
                    style="background: linear-gradient(135deg, #7a7a7a, #000000);"
                >
                    <button
                        class="flex items-center justify-center w-full h-full bg-transparent 
                               rounded-lg transition duration-300 ease-in-out 
                               hover:bg-white hover:bg-opacity-30 focus:outline-none"
                    >
                        <h2
                            transition:name={section.title}
                            class="text-center text-2xl font-bold font-mono"
                        >
                            {section.title}
                        </h2>
                    </button>
                </a>
            ))
        }
    </div>
</Layout>
