---
const { title } = Astro.props;
---

<section class="border rounded-3xl p-5">
    <h2 class="text-center text-2xl font-bold item">{title}</h2>
    <div class="flex justify-center gap-3">
        <slot />
    </div>
</section>
